{% extends 'core/base.html' %}
{% block content %}

<h3 class="mb-4">Academic Dashboard</h3>

<div class="row g-3">
    <div class="col-md-6">
        <div class="card shadow p-3">
            <h5>Students</h5>
            <a href="{% url 'student_list' %}" class="btn btn-info btn-sm">View Students</a>
            <a href="{% url 'student_pdf' %}" class="btn btn-secondary btn-sm">Export PDF</a>
        </div>
    </div>
</div>

<hr>
<canvas id="academicChart"></canvas>

<script>
new Chart(document.getElementById('academicChart'), {
    type: 'pie',
    data: {
        labels: ['Pass', 'Fail', 'Incomplete'],
        datasets: [{
            data: [85, 10, 5]
        }]
    }
});
</script>

{% endblock %}
