{% extends 'core/base.html' %}
{% block content %}

<h3 class="mb-4">Super Admin Dashboard</h3>

<div class="row g-3">
    <div class="col-md-4">
        <div class="card shadow p-3">
            <h5>Students</h5>
            <a href="{% url 'student_list' %}" class="btn btn-primary btn-sm">Manage</a>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card shadow p-3">
            <h5>Staff</h5>
            <a href="{% url 'staff_list' %}" class="btn btn-primary btn-sm">Manage</a>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card shadow p-3">
            <h5>Fees</h5>
            <a href="{% url 'fee_structure_list' %}" class="btn btn-primary btn-sm">Manage</a>
        </div>
    </div>
</div>

<hr>

<canvas id="adminChart"></canvas>

<script>
new Chart(document.getElementById('adminChart'), {
    type: 'bar',
    data: {
        labels: ['Students', 'Staff', 'Fees'],
        datasets: [{
            label: 'System Overview',
            data: [120, 25, 8]
        }]
    }
});
</script>

{% endblock %}
