{% extends 'core/base.html' %}

{% block content %}
<h2>My Courses</h2>

<table class="table table-striped mt-4">
    <tr>
        <th>Course</th>
        <th>Teacher</th>
        <th>Status</th>
        <th>Action</th>
    </tr>

    <tr>
        <td>Mathematics</td>
        <td>Mr. Otieno</td>
        <td>Active</td>
        <td>
            <a href="{% url 'course_details' %}" class="btn btn-sm btn-primary">View</a>
        </td>
    </tr>

    <tr>
        <td>Physics</td>
        <td>Ms. Amina</td>
        <td>Active</td>
        <td>
            <button class="btn btn-sm btn-secondary">View</button>
        </td>
    </tr>
</table>

{% endblock %}
