{% extends 'core/base.html' %}

{% block content %}
<h2>Student Dashboard</h2>

<div class="row mt-4">
    <div class="col-md-3">
        <div class="card p-3 shadow-sm">
            <h5>Enrolled Courses</h5>
            <h2>5</h2>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card p-3 shadow-sm">
            <h5>Assignments</h5>
            <h2>3</h2>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card p-3 shadow-sm">
            <h5>Quizzes</h5>
            <h2>2</h2>
        </div>
    </div>
</div>

{% endblock %}
